body{
    background-color: #162831;
    ;
    width: 1296px;
    margin: 0 auto;
    scroll-behavior: smooth;
}
header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    gap: 50px;
}

nav a{
    color: white;
    text-decoration: none;
}
.add-seance{
    padding: 9px 15px;
    border-radius: 3px ;
    border: none;
    color: white;
    background-color:#018ABE;
    ;
}

.banner{
    margin-top: 50px;
    background-image: url(../style/img/first-screen.png);
    background-size: 100% 100%;
    background-blend-mode: color;
    background-color: #98C9DC80;
    width: 1296px;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seance{
    margin-top: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.seance-select {
    position: relative;
    display: inline-block;
    margin-top: 30px;
}

.seance-select img {
    display: block;
}

.seance-select:hover img {
    box-shadow: 0 0 10px 5px #018ABE;
    ;
}

.seance-selectt{
    position: relative;
    bottom: 530px;
    left: 840px;
    display: inline-block;
    
}
.seance-selectt img {
    display: block;
}

.seance-selectt:hover img {
    box-shadow: 0 0 10px 5px #018ABE;
    ;
}
.seance-selecttq{
    position: relative;
    bottom: 530px;
    
    display: inline-block;
    
}
.seance-selecttq img {
    display: block;
}

.seance-selecttq:hover img {
    box-shadow: 0 0 10px 5px #018ABE;
    ;
}

.sh:hover {
 text-decoration: underline #018ABE ; 
}
